thead{
    background-color: #212529;
    color: white;
}

.dataTables_wrapper{
    background-color: white;
    margin-bottom: 1px;
    width: 80%;
    margin-top: 2rem;
    margin-right: 0px !important;
}

.contenido{
    background-color: black;
    width: 500px;
    height: 500px;
}

.ms-container{
    width: 100% !important;
}

.ms-list{
    border-color: rgb(118, 118, 118) !important;
}

.menu{
    width: 80%;
    height: fit-content;
    min-height: fit-content;
    min-width: fit-content;
}

.contenedor-menu, .contenedor-menu li{
    list-style: none !important;
    
}

.contenedor-menu li{
    background-color: whitesmoke;
    border: solid 1px whitesmoke;
    border-radius: 0.5rem;
    text-decoration: none !important;
}

.contenedor-menu li:hover{
    color: orange;
    transform: scale(1.03);
    transition: .2s;
    z-index: 1000;
    cursor: pointer;   
}

.contenedor-menu li a:hover {
    color: orange !important;
}


.contenedor-menu li a{
    color: black;
    font-weight: bold;
    display: block;
    display: flex;
    justify-content: start;
    align-items: center;
    width: 100%;
    height: 100%;
    text-decoration: none !important;
}

.contenedor-menu li a img{
    margin-left: 2rem;
}

.contenedor-menu li a span{
    margin-left: 2rem;
}

.contenedor-menu{
    min-height: fit-content;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-auto-rows: minmax(auto, 100px) ;
    grid-gap: 10px;
    grid-row: auto;
    padding: 0;
    margin: 0;
}

*{
    font-size: 1rem;
}

html{
    height: 100vh;
    width: 100vw;
}

body{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.botones2{
    display: flex;
    width: 80%;
    height: 20%;
    align-items: center;
    justify-content: end;
    min-height: 60px;
    min-width: fit-content;
}

.cabecera{
    display: flex;
    margin-top: 2%;
    justify-content: center;
    height: 15%;
    width: 100%;
    min-height: 60px;
    min-width: fit-content;
}

.cabecera a{
    height: 100%;
    margin-left: auto;
    margin-right: 5%;
    justify-self: end;
}

.cancelar{
    margin-left: 2%;
}

.contenedor-inputs2{
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: fit-content;
    width: 100%;
}

.contenedor-inputs3{
    display: flex;
    width: 50%;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    min-height: fit-content;
}

.contenedor-tabla{
    display: flex;
    justify-content: center;
    margin-bottom: 2%;
    width: 100%
}

.contenido2{
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: fit-content;
}

.label_clave_responsable{
    grid-area:  label_clave_responsable;
    display: flex;
    justify-content: center;
}

.input_clave_responsable{
    grid-area:  input_clave_responsable;
}

.label_nombre_responsable{
    grid-area:  label_nombre_responsable;
    display: flex;
    justify-content: center;
}

.input_nombre_responsable{
    grid-area:  input_nombre_responsable;
}

.label_apellido_p_responsable{
    grid-area:  label_apellido_p_responsable;
    display: flex;
    justify-content: center;
}

.input_apellido_p_responsable{
    grid-area:  input_apellido_p_responsable;
}

.label_apellido_m_responsable{
    grid-area:  label_apellido_m_responsable;
    display: flex;
    justify-content: center;
}

.input_apellido_m_responsable{
    grid-area:  input_apellido_m_responsable;
}

.label_correo_responsable{
    grid-area:  label_correo_responsable;
    display: flex;
    justify-content: center;
}

.input_correo_responsable{
    grid-area:  input_correo_responsable;
}

.label_sexo_responsable{
    grid-area:  label_sexo_responsable;
    display: flex;
    justify-content: center;
}

.select_correo_responsable{
    grid-area:  select_sexo_responsable;
}

.cuadro1{
    padding: 1rem;
    display: grid;
    height: auto;
    flex-shrink: 0;
    width: 80%;
    border: 1px solid black;
    border-radius: 5px;
    min-height: 20%;
    min-width: fit-content;
    grid-gap: 2rem;
    grid-template-columns: repeat(8,.3fr);
    grid-template-areas: 
        "label_clave_responsable input_clave_responsable label_nombre_responsable input_nombre_responsable input_nombre_responsable input_nombre_responsable input_nombre_responsable input_nombre_responsable"
        "label_apellido_p_responsable input_apellido_p_responsable input_apellido_p_responsable input_apellido_p_responsable label_apellido_m_responsable input_apellido_m_responsable input_apellido_m_responsable input_apellido_m_responsable"
        "label_correo_responsable input_correo_responsable input_correo_responsable input_correo_responsable input_correo_responsable input_correo_responsable label_sexo_responsable select_sexo_responsable";
}

.flecha{
    width: 10%;
    height: 100%;
    min-width: 30px;
    max-height: 30px;
}

.footer{
    width: auto;
    min-width: fit-content;
    margin-top: auto;
    justify-self: end;
}

.header{
    width: auto;
    min-width: fit-content;
}

input{
    height: 2rem;
}

label{
    height: 2rem;
}

.titulo{
    justify-self: center;
    margin-left: auto;
}
