thead{
    background-color: #212529;
    color: white;
}

.dataTables_wrapper{
    background-color: white;
    margin-bottom: 1px;
    width: 80%;
    margin-top: 2rem;
    margin-right: 0px !important;
}

.contenido{
    background-color: black;
    width: 500px;
    height: 500px;
}

.ms-container{
    width: 100% !important;
}

.ms-list{
    border-color: rgb(118, 118, 118) !important;
}

.contenedor-menu, .contenedor-menu li{
    list-style: none !important;
}

.contenedor-menu li{
    background-color: red;
}

.contenedor-menu li:hover{
    background-color: orange;
}

.contenedor-menu{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-auto-rows:minmax(100px, 100px);
    grid-gap: 10px;
    grid-row: 20px;
    padding: 0;
    margin: 0;
}

.imagen{
    width: 10px ;
    height:50px ;
}

