.container{
    
    height: 400px;
    width: 350px;
    border-radius: 10%;
    background-color: whitesmoke;
    margin-top: 5%;
    border: 5px solid black;
    
}

.back{
    background-image: url('../assets/img/Tec-de-Colima.jpeg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.btnAdmin{
    margin-top: 20px;
    text-align: center;
    height: 50px;
    width: 320px;
    display: flex;
    justify-content: center;
    
    
}

.btnRP{
    margin-top: 20px;
    height: 50px;
    width: 260px;
    display: flex;
    justify-content: center;
}

.iconos{
    width: 30px; 
    height: 30px;
}
